<%= link_to 'Add Item', new_purchase_list_purchase_list_item_path(@purchase_list), :class => "btn-up btn btn-success" %>

  <% @purchase_list.purchase_list_items.each do |item| %>
  <div class="card border-dark">
    <div class="card-body">
        <h5 class="card-title"> <%= item.product %> </h5>
        <% @internal_purchase_list_item  = item %>

        <%= render 'purchase_list_items/form' %>
        
    </div>

  </div>

  <% end %>
